*.m4
autom4te.cache
config.*
configure
ltmain.sh
libtool
install-sh
missing
stamp-h1
depcomp
Makefile
Makefile.in
.deps
.libs
*.o
*.lo
*.la
*.so
.*project
.settings
*~

# CMake stuff
CMakeFiles*
CMakeCache*
*cmake*
*CPack*
install_manifest.txt

# Visual Studio stuff
*.sln*
*.vcproj*
*.dir
*.ncb
*.suo
*Debug
*Release

# Binaries
openspeak
openspeakd
