*.m4
autom4te.cache
config.*
configure
ltmain.sh
libtool
install-sh
missing
stamp-h1
depcomp
Makefile
Makefile.in
.deps
.libs
*.o
*.lo
*.la
*.so
.*project
# CMake stuff
CMakeFiles*
CMakeCache.txt
cmake*

# Binaries
openspeak
openspeakd
